.chores {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blueviolet;
}

h3 {
  text-decoration: underline;
  text-align: center;

}

ul {
  font-style: italic;
  text-align: left;
}